body{
background-image: url(./images/bg-image.jpg);
}



.head{
    box-sizing: border-box;
    color: lightseagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    padding:90px;
}

.button-first,
.button-second,
.button-third
{
    display: block;
    margin:50px;
    background-color:rgba(255,0,0,2.0);
    width:350px;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border:3px solid black;
    border-radius: 10px;
}

.parent-box{ /*this is flex container row direction*/
    display:flex;
    flex:auto;
    height:600px;
    flex-direction: row;

}

.item-1,.item-2,.item-3,.item-4{
    flex:1 1 0;
    min-height: 0;
    overflow: hidden;
    
}

img{
    object-fit: contain;
    width:100%;
    height:100%;
}



/*both box-1 and box-2 are column flex*/
.box-2{
    display:flex;
    height:600px;
    flex:0 1 auto;
    
    flex-direction: column;
}


.box-3{
    display:flex;
    height:600px;
    flex:0 1 auto;
    
    flex-direction: column;
}

